
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

h1 { color: black;
    font-family:"Bitter" , serif;
    text-align: center;

}


div {
    /* display: inline-block */
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    /* margin: -2px */
    margin: -2px;
   }   
   
.vermelha {
        background-color: red;
   }

.azul {
         background-color:blue ;
   }
   
.verde {
         background-color: green;
   }
   
.amarela {
         background-color: yellow;
   }

#canto {
       border: 2px solid black;
  } 
   
.hov:hover{
    background-color: aqua;
   }

footer {
   color: black;
   font-family:"Bitter", serif;
}

